
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&family=Playwrite+DE+Grund&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @media screen and
navbar{
    height:
 }
 */
 
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown2 {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown3 {
    from {
        opacity: 0;
        transform: translateY(-95vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-95vh);
    }
}

.inicio{
    
}

section > p{
    font-size: 20px;
}

.first{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/pexels-bekirdonmeez-1233258.jpg);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    height: 95vh;
    max-height: 900px;
    color: white;
}

.navbarAbsolute{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 90px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    z-index: 1000;
    background-color: #47342396;
    color: rgb(0, 0, 0);
}

.navbarAbsoluteContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 5%;
    width: 100%;
}

h1{
    font-size: 52px;
    margin: 20px auto;
    max-width: 90%;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.212);
    animation: fadeInDown2 1s ease;
}

.first a{
    border-radius: 30px;
    padding: 15px 40px;
    text-decoration: none;
    background-color: rgb(0, 182, 0);
    color: white;
    filter: drop-shadow(1px 1px 2px rgba(24, 121, 0, 0.699));
    animation: fadeInDown2 1s ease;
}

.first a:hover{
    padding: 15px 50px;
    background-color: rgb(17, 210, 17);
    transition: padding 0.2s ease-in, background-color 0.3s ease-in
}

.first a:active{
    background-color: rgb(81, 197, 81);
    transition: background-color 0s ease-in
}

.unidades, .produtos, .feedbacks, .sobre{
    margin-top: 100px !important;
}

.unidades{
    margin: auto;
    width: 90%;
    max-width: 1140px;
}

.lista_unidades{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lista_unidades a{
    display: flex;
    height: 23vh;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
    text-decoration: none;
    background-color: rgb(255, 181, 43);
    color: white;
}

.lista_unidades div{
    margin-left: 3vw;
}

.lista_unidades img{
    margin: 5px;
    border-radius: 15px;
}

.unidade_titulo{
    font-size: 32px;
}

.ver_unidades, .ver_produtos{
    background-color: transparent;
    border: 1px solid #ff7227;
    border-radius: 999px;
    box-shadow: 1px 1px 3px rgba(196, 196, 196, 0.318);
    color: #ff7227;
    font-size: 16px;
    margin-top: 10px;
    width: 250px;
    height: 60px;
    cursor: pointer;
}

.ver_unidades:hover, .ver_produtos:hover{
    background-color: rgb(231, 150, 0);
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;
    color: white;
}

.lista_produtos{
    display: grid;
    grid-template-columns: repeat(3, minmax(0.1px, 1fr));
    height: 500px;
    list-style-type: none;
    margin: auto;
    max-width: 90%;
    padding: 0;
}

.lista_produtos li{
    border-radius: 15px;
    margin: 5px;
}

.lista_produtos p{
    color: white;
    text-shadow: 1px 1px 3px rgba(149, 149, 149, 0.182);
}

.sorvetes{
    background-color: #E58383;
}

.picoles{
    background-color: #69FF8A;
}

.açai{
    background-color: #D983E5;
}

.feedback{
    margin: auto;
    height: 400px;
    max-width: 800px;
    background-image: url(../images/pexels-teejay-1362534.jpg);
    background-position: center;
    background-size: cover;
}

.menu{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: white;
    z-index: 1001;
}

/*


div menu*/
.showMenu {
    display: none;
    opacity: 0;
}

.showMenu.active{
    display: flex;
    position: fixed;
    align-items: center;
    animation: fadeInDown3 0.4s ease-in-out forwards;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    width: 100%;
    z-index: 9998;
    background-color: white;
}

.menuIcon{
    cursor: pointer;
    font-size: 40px;
    color: rgb(0, 0, 0);

}
  
.menuIcon:hover{
    color: rgb(57, 57, 57);
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}

.showMenu.active ul{
    list-style-type: none;
    padding: 0;
}
  
.showMenu.active li{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 999px;
    cursor: pointer;
    height: 70px;
    margin-top: 10px;
    width: 400px;
    max-width: 90vw;
    text-align: center;
}

.showMenu.active li:hover{
    transform: scale(1.02);
    transition: transform 0.2s ease;
}

.showMenu.active li:active{
    transform: scale(0.98);
    transition: transform 0.1s ease;
}

.showMenu.exiting {
    animation: fadeInUp 0.4s ease-in-out forwards;
}

.greenLi{
    background-color: rgb(90, 255, 90);
}

/*


media screen*/
@media screen and (max-width: 900px) {
    .lista_produtos{
        grid-template-columns: repeat(2, minmax(0.1px, 1fr));
        height: 600px;
    }

    .açai{
        grid-column: 1/3;
    }
}

@media screen and (max-width: 720px) {
    .unidades{
        margin: auto;
        max-width: 90%;
    }

    .lista_produtos li{
        margin: 3px;
    }
}

/* 


Loading screen */
.loadingScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(115deg, #fff5b8, #fffef5, #fffef5, #fff5b8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sorveteLoader {
    position: relative;
    top: -50%;
    transform: translate(-50%);
    width: 85%;
    height: auto;
}

.sorveteLoader img {
    position: absolute;
    width: 100%;
    height: auto;
}

.loadingText {
    margin-top: 50%;
    font-size: 18px;
    font-weight: bold;
    color: #D2691E;
}

.sorveteLoader img, .loadingText {
    animation: fadeInDown 0.8s ease-out;
}